<div class="map">
  <img alt="Map image at coordinates {{@lat}},{{@lng}}"
  ...attributes
  src={{this.src}}
  width="{{@width}}" height="{{@height}}">
</div>
{{!-- 

<Map 
  @username="mapbox"
  @styleId="dark-v10"
  @overlay="static"
  @lng=
  @lat=
  @zoom=
  @bearing=
  @pitch=
  @width=
  @height=
  /> 

--}}

{{!-- src="https://api.mapbox.com/styles/v1/{{@username}}/{{@styleId}}/{{@overlay}}/{{@lng}},{{@lat}},{{@zoom}}/{{@width}}x{{@height}}?access_token={{this.token}}" --}}
{{!-- "https://api.mapbox.com/styles/v1/mapbox/light-v10/static/-87.0186,32.4055,14/500x300?access_token=pk.eyJ1IjoiZXZpbHNjYXVnaHQiLCJhIjoiY2t2cXR2OXdnMnM3czJubXQxdzh0ZjVmbyJ9.7eC5Iht9priYW0dHPjxBPg"  --}}